﻿@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Aingeru Arrese</strong><br /><br />
    679 71 84 62<br />
    <a href="mailto:aarresea@gmail.com">aarresea@gmail.com</a><br />
</address>