﻿@model WebAppMVC.Models.UsuarioConectadoModels

@{
    ViewBag.Title = "Usuarios";
}

<div>
    <div style="width:75%;float:left;">
        <h2>Usuarios</h2>
    </div>
    <div style="float:left;width:25%;margin-top:0.5em;">
        <div style="float:right;">
            Usuario:  <strong>@Model.UsuarioConectado.Nombre</strong><br />

            <a style="float:right;" href="/Usuario/Login">Log out</a>
        </div>
    </div>
</div>
<table class="table">
    <tr>

        <th>
            Nombre
        </th>
        <th>
            Edad
        </th>
        <th>
            Email
        </th>
    </tr>

    @foreach (var item in Model.ListaUsuarios)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

        </tr>
    }

</table>
