﻿@model WebAppMVC.Models.UsuarioModels

@{
    ViewBag.Title = "Login";
}

<h2>Sistemas OEE Application</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Bienvenido</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contraseña, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Contraseña)
                @Html.ValidationMessageFor(model => model.Contraseña, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (!String.IsNullOrEmpty(Model.LoginIncorrecto))
        {
            <div class="form-group">
                <label class="control-label col-md-2">&nbsp;</label>
                <div class="col-md-10">
                    <span class="text-danger">
                        <strong>@Model.LoginIncorrecto</strong>
                    </span>
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input name="inLogin" type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>

    </div>

    <p>
        @Html.ActionLink("Nuevo usuario", "Create")
    </p>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
